# Down time Prediction

#### By analyzing the idle cycle time, handling time, and stop time, we can predict the machine downtime and idle time, which can help in scheduling maintenance and reducing the unplanned downtime

### AVAILABLE DATAS

#### Data Inputs :

#####        1. idle cycle time
#####        2. Handling time
#####       3. stop time 

####  Datas for Prediction:
   ##### 1. Machine downtime
   ##### 2. idle time
   
#### Use Case: Helpful for Maintenance Scheduling and Reduce Unplanned Downtime

In [2]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [3]:
# Load data
data = pd.read_csv(r"C:\Users\15878\DA\SGD_Data_Pred.csv")

data

,idle_Cycle_time,HT,MT,Stop_time,Run_Time,Down_Time,Total_Count,rejection,Good_Count,Operating_Time,Quality,Availability,Performance,OEE
0,145.0,0.000000,0.000000,0,0,509,0,0,0,509,0.000000,0.000000,0.000000,0.000000
1,0.0,0.000000,0.000000,0,0,270,0,0,0,270,0.000000,0.000000,0.000000,0.000000
2,145.0,0.000000,0.000000,0,0,208,0,0,0,208,0.000000,0.000000,0.000000,0.000000
3,0.0,0.000000,0.000000,0,0,30,0,0,0,30,0.000000,0.000000,0.000000,0.000000
4,145.0,27.500000,119.277778,20,196,144,72,4,68,358,94.444444,60.007446,80.961613,45.909578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,145.0,42.000000,90.000000,1,14,16,4,0,4,31,100.000000,47.120709,68.155112,32.115172
1206,150.0,49.269231,130.730769,19,314,8,118,4,114,340,96.610169,97.775486,88.895585,84.021226
1207,145.0,39.088235,176.058823,35,324,109,122,8,114,466,93.442623,70.332229,82.490091,59.137092
1208,145.0,47.500000,117.576923,26,241,199,98,8,90,465,91.836735,57.212986,88.996054,46.809426
1209,145.0,63.071429,143.392857,54,263,62,102,0,102,378,100.000000,83.666166,78.101072,65.344172

In [4]:
data.dropna()

,idle_Cycle_time,HT,MT,Stop_time,Run_Time,Down_Time,Total_Count,rejection,Good_Count,Operating_Time,Quality,Availability,Performance,OEE
0,145.0,0.000000,0.000000,0,0,509,0,0,0,509,0.000000,0.000000,0.000000,0.000000
1,0.0,0.000000,0.000000,0,0,270,0,0,0,270,0.000000,0.000000,0.000000,0.000000
2,145.0,0.000000,0.000000,0,0,208,0,0,0,208,0.000000,0.000000,0.000000,0.000000
3,0.0,0.000000,0.000000,0,0,30,0,0,0,30,0.000000,0.000000,0.000000,0.000000
4,145.0,27.500000,119.277778,20,196,144,72,4,68,358,94.444444,60.007446,80.961613,45.909578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,145.0,42.000000,90.000000,1,14,16,4,0,4,31,100.000000,47.120709,68.155112,32.115172
1206,150.0,49.269231,130.730769,19,314,8,118,4,114,340,96.610169,97.775486,88.895585,84.021226
1207,145.0,39.088235,176.058823,35,324,109,122,8,114,466,93.442623,70.332229,82.490091,59.137092
1208,145.0,47.500000,117.576923,26,241,199,98,8,90,465,91.836735,57.212986,88.996054,46.809426
1209,145.0,63.071429,143.392857,54,263,62,102,0,102,378,100.000000,83.666166,78.101072,65.344172

In [5]:
data[['HT', 'MT', 'Quality','Availability','Performance','OEE']] = data[['HT', 'MT', 'Quality','Availability','Performance','OEE']].round(2)
data

,idle_Cycle_time,HT,MT,Stop_time,Run_Time,Down_Time,Total_Count,rejection,Good_Count,Operating_Time,Quality,Availability,Performance,OEE
0,145.0,0.00,0.00,0,0,509,0,0,0,509,0.00,0.00,0.00,0.00
1,0.0,0.00,0.00,0,0,270,0,0,0,270,0.00,0.00,0.00,0.00
2,145.0,0.00,0.00,0,0,208,0,0,0,208,0.00,0.00,0.00,0.00
3,0.0,0.00,0.00,0,0,30,0,0,0,30,0.00,0.00,0.00,0.00
4,145.0,27.50,119.28,20,196,144,72,4,68,358,94.44,60.01,80.96,45.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,145.0,42.00,90.00,1,14,16,4,0,4,31,100.00,47.12,68.16,32.12
1206,150.0,49.27,130.73,19,314,8,118,4,114,340,96.61,97.78,88.90,84.02
1207,145.0,39.09,176.06,35,324,109,122,8,114,466,93.44,70.33,82.49,59.14
1208,145.0,47.50,117.58,26,241,199,98,8,90,465,91.84,57.21,89.00,46.81
1209,145.0,63.07,143.39,54,263,62,102,0,102,378,100.00,83.67,78.10,65.34

### Prediction between HandlingTime and Downtime

In [6]:
from sklearn.preprocessing import MinMaxScaler
data = pd.read_csv(r"C:\Users\15878\DA\SGD_Data_Pred.csv")
# create a MinMaxScaler object
scaler = MinMaxScaler()

# select columns to scale
cols_to_scale = ['HT']
cols_to_scale1 = ['Down_Time']

# apply Min-Max scaling to selected columns
data[cols_to_scale] = scaler.fit_transform(data[cols_to_scale])
data[cols_to_scale1] = scaler.fit_transform(data[cols_to_scale1])
print(data[cols_to_scale],data[cols_to_scale1])

            HT
0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.091667
...        ...
1205  0.140000
1206  0.164231
1207  0.130294
1208  0.158333
1209  0.210238

[1210 rows x 1 columns]       Down_Time
0      0.990272
1      0.525292
2      0.404669
3      0.058366
4      0.280156
...         ...
1205   0.031128
1206   0.015564
1207   0.212062
1208   0.387160
1209   0.120623

[1210 rows x 1 columns]

In [7]:
# Split data into features and target variable
X = data[cols_to_scale]
y = data[cols_to_scale1]
print(X,y)

            HT
0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.091667
...        ...
1205  0.140000
1206  0.164231
1207  0.130294
1208  0.158333
1209  0.210238

[1210 rows x 1 columns]       Down_Time
0      0.990272
1      0.525292
2      0.404669
3      0.058366
4      0.280156
...         ...
1205   0.031128
1206   0.015564
1207   0.212062
1208   0.387160
1209   0.120623

[1210 rows x 1 columns]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.7,test_size=0.3, random_state=42)

In [9]:
# Create a Decision Tree Regressor
dtr = DecisionTreeRegressor(max_depth=5, random_state=42)

In [10]:
# Train the regressor on the training data
dtr.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=5, random_state=42)

In [11]:
y_pred = dtr.predict(X_test)

In [12]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.051344265600914755

In [3]:
Overall_datas = pd.read_csv(r"C:\Users\15878\DA\SGD_Data.csv")

Overall_datas

,Date,En_Name,Bg_Name,Plant_Name,Line_Name,Machine_Name,Shift,idle_Cycle_time,HT,MT,...,Run_Time,Down_Time,Total_Count,rejection,Good_Count,Operating_Time,Quality,Availability,Performance,OEE
0,01-01-2023,RANE,ZRAI-SGD,Plant 2,7 LPM,Makino 4,Shift1,145.0,0.000000,0.000000,...,0,509,0,0,0,509,0.000000,0.000000,0.000000,0.000000
1,01-01-2023,RANE,ZRAI-SGD,Plant 2,7 LPM,Makino 4,Shift2,0.0,0.000000,0.000000,...,0,270,0,0,0,270,0.000000,0.000000,0.000000,0.000000
2,01-01-2023,RANE,ZRAI-SGD,Plant 2,7 LPM,Makino 4,Shift2,145.0,0.000000,0.000000,...,0,208,0,0,0,208,0.000000,0.000000,0.000000,0.000000
3,01-01-2023,RANE,ZRAI-SGD,Plant 2,7 LPM,Makino 4,Shift3,0.0,0.000000,0.000000,...,0,30,0,0,0,30,0.000000,0.000000,0.000000,0.000000
4,01-01-2023,RANE,ZRAI-SGD,Plant 2,7 LPM,Makino 4,Shift3,145.0,27.500000,119.277778,...,196,144,72,4,68,358,94.444444,60.007446,80.961613,45.909578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,30-12-2022,RANE,ZRAI-SGD,Plant 2,7 LPM,Makino 4,Shift3,145.0,42.000000,90.000000,...,14,16,4,0,4,31,100.000000,47.120709,68.155112,32.115172
1206,30-12-2022,RANE,ZRAI-SGD,Plant 2,7 LPM,Makino 4,Shift3,150.0,49.269231,130.730769,...,314,8,118,4,114,340,96.610169,97.775486,88.895585,84.021226
1207,31-12-2022,RANE,ZRAI-SGD,Plant 2,7 LPM,Makino 4,Shift1,145.0,39.088235,176.058823,...,324,109,122,8,114,466,93.442623,70.332229,82.490091,59.137092
1208,31-12-2022,RANE,ZRAI-SGD,Plant 2,7 LPM,Makino 4,Shift2,145.0,47.500000,117.576923,...,241,199,98,8,90,465,91.836735,57.212986,88.996054,46.809426
1209,31-12-2022,RANE,ZRAI-SGD,Plant 2,7 LPM,Makino 4,Shift3,145.0,63.071429,143.392857,...,263,62,102,0,102,378,100.000000,83.666166,78.101072,65.344172

In [6]:
Overall_datas.dtypes

Date                object
En_Name             object
Bg_Name             object
Plant_Name          object
Line_Name           object
Machine_Name        object
Shift               object
idle_Cycle_time    float64
HT                 float64
MT                 float64
Stop_time            int64
Run_Time             int64
Down_Time            int64
Total_Count          int64
rejection            int64
Good_Count           int64
Operating_Time       int64
Quality            float64
Availability       float64
Performance        float64
OEE                float64
dtype: object

In [4]:
Overall_datas.columns

Index(['Date', 'En_Name', 'Bg_Name', 'Plant_Name', 'Line_Name', 'Machine_Name',
       'Shift', 'idle_Cycle_time', 'HT', 'MT', 'Stop_time', 'Run_Time',
       'Down_Time', 'Total_Count', 'rejection', 'Good_Count', 'Operating_Time',
       'Quality', 'Availability', 'Performance', 'OEE'],
      dtype='object')

In [9]:
import pandas as pd
import pymssql

# Connect to the database
conn = pymssql.connect(server='10.182.0.10\SQLEXPRESS', user='sb', password='Rane@123456', database='OEE')

# Define the SQL query
sql_query = "SELECT * FROM [OEE].[dbo].[Down_time] where Bg_ID = 4 and Plant_ID = 2 and Machine_ID = 1"

# Execute the SQL query and store the results in a DataFrame
df = pd.read_sql(sql_query, conn)

# Close the database connection
conn.close()

# Save the DataFrame to a CSV file in the local system folder
df.to_csv('DT_Reason_file.csv', index=False)

# Read the DataFrame from a local system folder 
DT_df =  pd.read_csv(r"C:\Users\15878\DT_Reason_file.csv")
DT_df

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\15878\AppData\Local\Temp\ipykernel_4192\199350251.py:20: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  DT_df =  pd.read_csv(r"C:\Users\15878\DT_Reason_file.csv")

,ID,En_ID,Bg_ID,Plant_ID,Line_ID,Machine_ID,date,Shift,Hour,Global_id,...,Error_id,type,Start_time,Stop_time,Shift_Hour,down_time,Reason,Priority,Breakdown_Reason,Global_reason
0,824145,1,4,2,1,1,NaN,Shift3,03-04,3.0,...,NaN,3,2022-01-21 02:59:41.290,2022-01-21 03:05:33.093,NaN,351.0,9110.0,NaN,Want of Material,Material
1,824166,1,4,2,2,1,NaN,Shift3,03-04,NaN,...,NaN,2,2022-01-21 03:05:41.290,2022-01-21 03:05:52.630,2022-01-21 22:30:09.047,11.0,0.0,NaN,Minor Loss,Minor Loss
2,824172,1,4,2,3,1,NaN,Shift3,03-04,NaN,...,NaN,2,2022-01-21 03:05:14.123,2022-01-21 03:05:57.693,2022-01-21 22:30:09.047,43.0,0.0,NaN,Minor Loss,Minor Loss
3,824467,1,4,2,1,1,NaN,Shift3,03-04,NaN,...,NaN,2,2022-01-21 03:10:35.367,2022-01-21 03:10:40.337,2022-01-21 22:30:09.047,5.0,0.0,NaN,Minor Loss,Minor Loss
4,824536,1,4,2,2,1,NaN,Shift3,03-04,NaN,...,NaN,2,2022-01-21 03:10:53.670,2022-01-21 03:11:46.827,2022-01-21 22:30:09.047,53.0,0.0,NaN,Minor Loss,Minor Loss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58063,1514330,1,4,2,3,1,NaN,Shift1,14-15,1.0,...,NaN,3,NaN,NaN,NaN,1542.0,3020.0,NaN,Accident,Machine
58064,1514335,1,4,2,2,1,NaN,Shift1,14-15,NaN,...,NaN,3,NaN,NaN,NaN,1542.0,0.0,NaN,Shift End Closer,Man
58065,1514336,1,4,2,1,1,NaN,Shift1,14-15,NaN,...,NaN,3,NaN,NaN,NaN,1543.0,0.0,NaN,Shift End Closer,Man
58066,1514278,1,4,2,3,1,NaN,Shift2,09-10,1.0,...,NaN,3,NaN,NaN,NaN,232494.0,3020.0,NaN,Accident,Machine
58067,1514282,1,4,2,1,1,NaN,Shift2,09-10,NaN,...,NaN,3,NaN,NaN,NaN,232491.0,0.0,NaN,Shift End Closer,Man

In [2]:
import pandas as pd
DT_df =  pd.read_csv(r"C:\Users\15878\DT_Reason_file.csv")
DT_df

C:\Users\15878\AppData\Local\Temp\ipykernel_4192\66031282.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  DT_df =  pd.read_csv(r"C:\Users\15878\DT_Reason_file.csv")

,ID,En_ID,Bg_ID,Plant_ID,Line_ID,Machine_ID,date,Shift,Hour,Global_id,...,Error_id,type,Start_time,Stop_time,Shift_Hour,down_time,Reason,Priority,Breakdown_Reason,Global_reason
0,824145,1,4,2,1,1,NaN,Shift3,03-04,3.0,...,NaN,3,2022-01-21 02:59:41.290,2022-01-21 03:05:33.093,NaN,351.0,9110.0,NaN,Want of Material,Material
1,824166,1,4,2,2,1,NaN,Shift3,03-04,NaN,...,NaN,2,2022-01-21 03:05:41.290,2022-01-21 03:05:52.630,2022-01-21 22:30:09.047,11.0,0.0,NaN,Minor Loss,Minor Loss
2,824172,1,4,2,3,1,NaN,Shift3,03-04,NaN,...,NaN,2,2022-01-21 03:05:14.123,2022-01-21 03:05:57.693,2022-01-21 22:30:09.047,43.0,0.0,NaN,Minor Loss,Minor Loss
3,824467,1,4,2,1,1,NaN,Shift3,03-04,NaN,...,NaN,2,2022-01-21 03:10:35.367,2022-01-21 03:10:40.337,2022-01-21 22:30:09.047,5.0,0.0,NaN,Minor Loss,Minor Loss
4,824536,1,4,2,2,1,NaN,Shift3,03-04,NaN,...,NaN,2,2022-01-21 03:10:53.670,2022-01-21 03:11:46.827,2022-01-21 22:30:09.047,53.0,0.0,NaN,Minor Loss,Minor Loss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58063,1514330,1,4,2,3,1,NaN,Shift1,14-15,1.0,...,NaN,3,NaN,NaN,NaN,1542.0,3020.0,NaN,Accident,Machine
58064,1514335,1,4,2,2,1,NaN,Shift1,14-15,NaN,...,NaN,3,NaN,NaN,NaN,1542.0,0.0,NaN,Shift End Closer,Man
58065,1514336,1,4,2,1,1,NaN,Shift1,14-15,NaN,...,NaN,3,NaN,NaN,NaN,1543.0,0.0,NaN,Shift End Closer,Man
58066,1514278,1,4,2,3,1,NaN,Shift2,09-10,1.0,...,NaN,3,NaN,NaN,NaN,232494.0,3020.0,NaN,Accident,Machine
58067,1514282,1,4,2,1,1,NaN,Shift2,09-10,NaN,...,NaN,3,NaN,NaN,NaN,232491.0,0.0,NaN,Shift End Closer,Man

In [3]:
DT_df.fillna(0)

,ID,En_ID,Bg_ID,Plant_ID,Line_ID,Machine_ID,date,Shift,Hour,Global_id,...,Error_id,type,Start_time,Stop_time,Shift_Hour,down_time,Reason,Priority,Breakdown_Reason,Global_reason
0,824145,1,4,2,1,1,0,Shift3,03-04,3.0,...,0.0,3,2022-01-21 02:59:41.290,2022-01-21 03:05:33.093,0,351.0,9110.0,0.0,Want of Material,Material
1,824166,1,4,2,2,1,0,Shift3,03-04,0.0,...,0.0,2,2022-01-21 03:05:41.290,2022-01-21 03:05:52.630,2022-01-21 22:30:09.047,11.0,0.0,0.0,Minor Loss,Minor Loss
2,824172,1,4,2,3,1,0,Shift3,03-04,0.0,...,0.0,2,2022-01-21 03:05:14.123,2022-01-21 03:05:57.693,2022-01-21 22:30:09.047,43.0,0.0,0.0,Minor Loss,Minor Loss
3,824467,1,4,2,1,1,0,Shift3,03-04,0.0,...,0.0,2,2022-01-21 03:10:35.367,2022-01-21 03:10:40.337,2022-01-21 22:30:09.047,5.0,0.0,0.0,Minor Loss,Minor Loss
4,824536,1,4,2,2,1,0,Shift3,03-04,0.0,...,0.0,2,2022-01-21 03:10:53.670,2022-01-21 03:11:46.827,2022-01-21 22:30:09.047,53.0,0.0,0.0,Minor Loss,Minor Loss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58063,1514330,1,4,2,3,1,0,Shift1,14-15,1.0,...,0.0,3,0,0,0,1542.0,3020.0,0.0,Accident,Machine
58064,1514335,1,4,2,2,1,0,Shift1,14-15,0.0,...,0.0,3,0,0,0,1542.0,0.0,0.0,Shift End Closer,Man
58065,1514336,1,4,2,1,1,0,Shift1,14-15,0.0,...,0.0,3,0,0,0,1543.0,0.0,0.0,Shift End Closer,Man
58066,1514278,1,4,2,3,1,0,Shift2,09-10,1.0,...,0.0,3,0,0,0,232494.0,3020.0,0.0,Accident,Machine
58067,1514282,1,4,2,1,1,0,Shift2,09-10,0.0,...,0.0,3,0,0,0,232491.0,0.0,0.0,Shift End Closer,Man

In [7]:
DT_df.dtypes

ID                    int64
En_ID                 int64
Bg_ID                 int64
Plant_ID              int64
Line_ID               int64
Machine_ID            int64
date                 object
Shift                object
Hour                 object
Global_id           float64
Local_id            float64
tpm_id              float64
reason_ID           float64
Error_id            float64
type                  int64
Start_time           object
Stop_time            object
Shift_Hour           object
down_time           float64
Reason              float64
Priority            float64
Breakdown_Reason     object
Global_reason        object
dtype: object

In [4]:
from sklearn.tree import DecisionTreeClassifier

# Create the decision tree classifier object
clf = DecisionTreeClassifier()

# Split the dataset into input features (X) and target variable (y)
X = DT_df['down_time']
y = DT_df['Breakdown_Reason']

# Train the decision tree classifier
clf.fit(X, y)

# Make predictions on new data
new_data = your_new_data
predictions = clf.predict(new_data)

ValueError: Expected 2D array, got 1D array instead:
array=[3.51000e+02 1.10000e+01 4.30000e+01 ... 1.54300e+03 2.32494e+05
 2.32491e+05].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [6]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier

# Reshape the input features array
X = DT_df['down_time']
y = DT_df['Breakdown_Reason']
X = np.reshape(X, (-1, 1))

# Reshape the target variable array
y = np.reshape(y, (-1, 1))

# Create the decision tree classifier object
clf = DecisionTreeClassifier()

# Train the decision tree classifier
clf.fit(X, y)

# Make predictions on new data
new_data = your_new_data
new_data = np.reshape(new_data, (-1, 1))
predictions = clf.predict(new_data)

ValueError: Data must be 1-dimensional

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# Create a sample DataFrame with categorical variable
data = {'Breakdown_Reason': [58068]}  # Replace 58068 with your desired value
df = pd.DataFrame(data)

# Extract the 'Breakdown_Reason' column as a Series
breakdown_reason_series = df['Breakdown_Reason']

# Convert the Series to a hashable type, such as a tuple
breakdown_reason_key = tuple(breakdown_reason_series)

# Create the dictionary using the hashable key
my_dict = {breakdown_reason_key: [58068]}  # Replace 58068 with your desired value

print(my_dict)

{(58068,): [58068]}

In [ ]:
DT_df

In [51]:
DT_df.drop(['ID', 'En_ID', 'Bg_ID','Plant_ID','Line_ID','Global_id','Shift_Hour','Priority'], axis=1, inplace=True)

In [52]:
DT_df

,Machine_ID,date,Shift,Hour,Local_id,tpm_id,reason_ID,Error_id,type,Start_time,Stop_time,down_time,Reason,Breakdown_Reason,Global_reason
0,1,NaN,Shift3,03-04,3.0,3.0,2.0,NaN,3,2022-01-21 02:59:41.290,2022-01-21 03:05:33.093,351.0,9110.0,Want of Material,Material
1,1,NaN,Shift3,03-04,NaN,NaN,NaN,NaN,2,2022-01-21 03:05:41.290,2022-01-21 03:05:52.630,11.0,0.0,Minor Loss,Minor Loss
2,1,NaN,Shift3,03-04,NaN,NaN,NaN,NaN,2,2022-01-21 03:05:14.123,2022-01-21 03:05:57.693,43.0,0.0,Minor Loss,Minor Loss
3,1,NaN,Shift3,03-04,NaN,NaN,NaN,NaN,2,2022-01-21 03:10:35.367,2022-01-21 03:10:40.337,5.0,0.0,Minor Loss,Minor Loss
4,1,NaN,Shift3,03-04,NaN,NaN,NaN,NaN,2,2022-01-21 03:10:53.670,2022-01-21 03:11:46.827,53.0,0.0,Minor Loss,Minor Loss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58063,1,NaN,Shift1,14-15,3.0,2.0,14.0,NaN,3,NaN,NaN,1542.0,3020.0,Accident,Machine
58064,1,NaN,Shift1,14-15,NaN,NaN,NaN,NaN,3,NaN,NaN,1542.0,0.0,Shift End Closer,Man
58065,1,NaN,Shift1,14-15,NaN,NaN,NaN,NaN,3,NaN,NaN,1543.0,0.0,Shift End Closer,Man
58066,1,NaN,Shift2,09-10,3.0,2.0,14.0,NaN,3,NaN,NaN,232494.0,3020.0,Accident,Machine
58067,1,NaN,Shift2,09-10,NaN,NaN,NaN,NaN,3,NaN,NaN,232491.0,0.0,Shift End Closer,Man

In [53]:
DT_df.fillna(0)

,Machine_ID,date,Shift,Hour,Local_id,tpm_id,reason_ID,Error_id,type,Start_time,Stop_time,down_time,Reason,Breakdown_Reason,Global_reason
0,1,0,Shift3,03-04,3.0,3.0,2.0,0.0,3,2022-01-21 02:59:41.290,2022-01-21 03:05:33.093,351.0,9110.0,Want of Material,Material
1,1,0,Shift3,03-04,0.0,0.0,0.0,0.0,2,2022-01-21 03:05:41.290,2022-01-21 03:05:52.630,11.0,0.0,Minor Loss,Minor Loss
2,1,0,Shift3,03-04,0.0,0.0,0.0,0.0,2,2022-01-21 03:05:14.123,2022-01-21 03:05:57.693,43.0,0.0,Minor Loss,Minor Loss
3,1,0,Shift3,03-04,0.0,0.0,0.0,0.0,2,2022-01-21 03:10:35.367,2022-01-21 03:10:40.337,5.0,0.0,Minor Loss,Minor Loss
4,1,0,Shift3,03-04,0.0,0.0,0.0,0.0,2,2022-01-21 03:10:53.670,2022-01-21 03:11:46.827,53.0,0.0,Minor Loss,Minor Loss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58063,1,0,Shift1,14-15,3.0,2.0,14.0,0.0,3,0,0,1542.0,3020.0,Accident,Machine
58064,1,0,Shift1,14-15,0.0,0.0,0.0,0.0,3,0,0,1542.0,0.0,Shift End Closer,Man
58065,1,0,Shift1,14-15,0.0,0.0,0.0,0.0,3,0,0,1543.0,0.0,Shift End Closer,Man
58066,1,0,Shift2,09-10,3.0,2.0,14.0,0.0,3,0,0,232494.0,3020.0,Accident,Machine
58067,1,0,Shift2,09-10,0.0,0.0,0.0,0.0,3,0,0,232491.0,0.0,Shift End Closer,Man

In [ ]:
DT_df

In [5]:
import pandas as pd
DT = pd.read_csv(r"C:\Users\15878\DA\Downtime.csv")
DT

,ID,En_ID,Bg_ID,Plant_ID,Line_ID,Machine_ID,date,Shift,Hour,Global_id,...,Error_id,type,Start_time,Stop_time,Shift_Hour,down_time,Reason,Priority,Breakdown_Reason,Global_reason
0,824145,1,4,2,1,1,NaN,Shift3,03-Apr,3.0,...,NaN,3,59:41.3,05:33.1,NaN,351,9110.0,NaN,Want of Material,Material
1,824467,1,4,2,1,1,NaN,Shift3,03-Apr,NaN,...,NaN,2,10:35.4,10:40.3,30:09.0,5,0.0,NaN,Minor Loss,Minor Loss
2,824794,1,4,2,1,1,NaN,Shift3,03-Apr,NaN,...,NaN,2,15:42.8,15:55.0,30:09.0,12,0.0,NaN,Minor Loss,Minor Loss
3,825128,1,4,2,1,1,NaN,Shift3,03-Apr,NaN,...,NaN,2,20:58.7,21:11.5,30:09.0,12,0.0,NaN,Minor Loss,Minor Loss
4,825655,1,4,2,1,1,NaN,Shift3,03-Apr,NaN,...,NaN,2,26:12.4,29:41.9,30:09.0,209,0.0,NaN,Minor Loss,Minor Loss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,130305,1,4,2,1,1,NaN,Shift3,23-00,NaN,...,NaN,2,53:06.8,53:41.1,NaN,34,0.0,NaN,Minor Loss,Minor Loss
996,16317,1,4,2,1,1,NaN,Shift2,20-21,4.0,...,NaN,3,06:11.5,36:33.0,NaN,1821,9020.0,NaN,Lunch Break Time,Man
997,16206,1,4,2,1,1,NaN,Shift2,18-19,4.0,...,NaN,3,55:27.5,09:58.2,NaN,870,9010.0,NaN,Tea Break Time,Man
998,130195,1,4,2,1,1,NaN,Shift3,23-00,NaN,...,NaN,2,13:52.6,14:01.2,NaN,8,0.0,NaN,Minor Loss,Minor Loss
999,130355,1,4,2,1,1,NaN,Shift3,00-01,NaN,...,NaN,2,05:22.7,06:20.3,NaN,57,0.0,NaN,Minor Loss,Minor Loss

In [6]:
DT.fillna(0)

,ID,En_ID,Bg_ID,Plant_ID,Line_ID,Machine_ID,date,Shift,Hour,Global_id,...,Error_id,type,Start_time,Stop_time,Shift_Hour,down_time,Reason,Priority,Breakdown_Reason,Global_reason
0,824145,1,4,2,1,1,0.0,Shift3,03-Apr,3.0,...,0.0,3,59:41.3,05:33.1,0,351,9110.0,0.0,Want of Material,Material
1,824467,1,4,2,1,1,0.0,Shift3,03-Apr,0.0,...,0.0,2,10:35.4,10:40.3,30:09.0,5,0.0,0.0,Minor Loss,Minor Loss
2,824794,1,4,2,1,1,0.0,Shift3,03-Apr,0.0,...,0.0,2,15:42.8,15:55.0,30:09.0,12,0.0,0.0,Minor Loss,Minor Loss
3,825128,1,4,2,1,1,0.0,Shift3,03-Apr,0.0,...,0.0,2,20:58.7,21:11.5,30:09.0,12,0.0,0.0,Minor Loss,Minor Loss
4,825655,1,4,2,1,1,0.0,Shift3,03-Apr,0.0,...,0.0,2,26:12.4,29:41.9,30:09.0,209,0.0,0.0,Minor Loss,Minor Loss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,130305,1,4,2,1,1,0.0,Shift3,23-00,0.0,...,0.0,2,53:06.8,53:41.1,0,34,0.0,0.0,Minor Loss,Minor Loss
996,16317,1,4,2,1,1,0.0,Shift2,20-21,4.0,...,0.0,3,06:11.5,36:33.0,0,1821,9020.0,0.0,Lunch Break Time,Man
997,16206,1,4,2,1,1,0.0,Shift2,18-19,4.0,...,0.0,3,55:27.5,09:58.2,0,870,9010.0,0.0,Tea Break Time,Man
998,130195,1,4,2,1,1,0.0,Shift3,23-00,0.0,...,0.0,2,13:52.6,14:01.2,0,8,0.0,0.0,Minor Loss,Minor Loss
999,130355,1,4,2,1,1,0.0,Shift3,00-01,0.0,...,0.0,2,05:22.7,06:20.3,0,57,0.0,0.0,Minor Loss,Minor Loss

In [7]:
DT.columns

Index(['ID', 'En_ID', 'Bg_ID', 'Plant_ID', 'Line_ID', 'Machine_ID', 'date',
       'Shift', 'Hour', 'Global_id', 'Local_id', 'tpm_id', 'reason_ID',
       'Error_id', 'type', 'Start_time', 'Stop_time', 'Shift_Hour',
       'down_time', 'Reason', 'Priority', 'Breakdown_Reason', 'Global_reason'],
      dtype='object')

In [8]:
DT.dtypes

ID                    int64
En_ID                 int64
Bg_ID                 int64
Plant_ID              int64
Line_ID               int64
Machine_ID            int64
date                float64
Shift                object
Hour                 object
Global_id           float64
Local_id            float64
tpm_id              float64
reason_ID           float64
Error_id            float64
type                  int64
Start_time           object
Stop_time            object
Shift_Hour           object
down_time             int64
Reason              float64
Priority            float64
Breakdown_Reason     object
Global_reason        object
dtype: object

In [9]:
DT['Start_time'] = pd.to_datetime(DT['Start_time'])

ParserError: hour must be in 0..23: 59:41.3

In [11]:
DT['Start_time'] = pd.to_datetime(DT['Start_time'], format='%Y-%m-%d %H:%M:%S')

ValueError: time data 59:41.3 doesn't match format specified

In [ ]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], format='%Y-%m-%d %H:%M:%S')