In [1]:
import pandas as pd

In [ ]:
file_path=r"C:\Users\karthick\COVID-19.xlsx"
covid19_data=pd.read_excel(file_path,sheet_name=[Current_shift_performance]) #deafult sheet is first sheet
covid19_data

In [10]:
file_path = r"C:\Users\15878\DA\17-04-2023-SGD-P2-Performance.xlsx"
OEE_file=pd.read_excel(file_path,sheet_name=[0])
OEE_file

{0:                     Date   Line_Name Machine_Name Shift/Hour         Pdt_name  \
 0    2023-04-17 00:00:00      12 LPM        ACE-4    (06-07)             N-20
 1    2023-04-17 00:00:00      12 LPM        ACE-4    (07-08)             N-20
 2    2023-04-17 00:00:00      12 LPM        ACE-4    (08-09)             N-20
 3    2023-04-17 00:00:00      12 LPM        ACE-4    (09-10)             N-20
 4    2023-04-17 00:00:00      12 LPM        ACE-4    (10-11)             N-20
 ..                   ...         ...          ...        ...              ...
 185  2023-04-17 00:00:00  Shaft line       MGTL-1    (03-04)  Double Diameter
 186  2023-04-17 00:00:00  Shaft line       MGTL-1    (04-05)  Double Diameter
 187  2023-04-17 00:00:00  Shaft line       MGTL-1    (05-06)  Double Diameter
 188  2023-04-17 00:00:00  Shaft line       MGTL-1    (22-23)  Double Diameter
 189  2023-04-17 00:00:00  Shaft line       MGTL-1    (23-00)  Double Diameter

       CT Total_Count Target Count Run_time Stop_time Performance
 0    274           1          1.1      4.9         0        92.9
 1    274           7         10.7     38.1      10.8        65.3
 2    274           7          9.3     32.3      10.3        75.1
 3    274           8            9     40.4       0.9        88.4
 4    274           7          8.4     33.6       4.6        83.8
 ..   ...         ...          ...      ...       ...         ...
 185  100          32           36     57.6       2.3          89
 186  100          23         26.2     42.1       1.5        87.9
 187  100          27         30.8     49.9       1.4        87.7
 188  100           4            0        0         0           0
 189  100          17            0        0         0           0

 [190 rows x 11 columns]}

In [2]:
import pandas as pd
oee_data=pd.read_csv(r"C:\Users\15878\DA\DAreport.csv")
oee_data

,Date,En_Name,Bg_Name,Plant_Name,Line_Name,Machine_Name,Shift/Hour,idle_Cycle_time,HT,MT,...,Run_Time,Down_Time,Total_Count,rejection,Good_Count,Operating_Time,Quality,Availability,Performance,OEE
0,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(06-07),2541.0,26.333333,817.333333,...,32,208,6,0,6,240,100.0,13.156243,807.949126,106.295754
1,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(07-08),2541.0,38.333333,408.666667,...,119,0,2,0,2,120,100.0,100.000000,70.878661,70.878661
2,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(08-09),2541.0,20.000000,613.000000,...,114,0,4,0,4,120,100.0,100.000000,141.638796,141.638796
3,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(09-10),2541.0,18.000000,245.200000,...,110,11,2,0,2,120,100.0,91.252264,77.575943,70.789804
4,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(10-11),2541.0,37.500000,306.500000,...,118,0,2,0,2,120,100.0,100.000000,70.957833,70.957833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2160,04/25/2023,RANE,ZRAI-SGD,Plant 1,TY54 Rack Piston,FN3EH,(11-12),318.0,29.000000,222.500000,...,24,37,10,4,6,60,60.0,38.680033,228.941685,53.685988
2161,04/25/2023,RANE,ZRAI-SGD,Plant 1,TY54 Rack Piston,FN3EH,(12-13),318.0,143.250000,167.500000,...,31,25,6,0,6,60,100.0,58.941504,90.170132,53.147632
2162,04/25/2023,RANE,ZRAI-SGD,Plant 1,TY54 Rack Piston,FN3EH,(13-14),0.0,0.000000,0.000000,...,9,0,0,0,0,9,0.0,100.000000,0.000000,0.000000
2163,04/25/2023,RANE,ZRAI-SGD,Plant 1,TY54 Rack Piston,FN3EH,(13-14),318.0,126.000000,279.000000,...,41,14,8,0,8,55,100.0,75.144333,102.871007,77.301732
2164,04/25/2023,RANE,ZRAI-SGD,Plant 1,TY54 Rack Piston,FN3EH,(14-15),318.0,210.800000,178.600000,...,26,31,5,0,5,60,100.0,49.247072,90.033975,44.339096

In [7]:
oee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2165 entries, 0 to 2164
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             2165 non-null   object
 1   En_Name          2165 non-null   object
 2   Bg_Name          2165 non-null   object
 3   Plant_Name       2165 non-null   object
 4   Line_Name        2165 non-null   object
 5   Machine_Name     2165 non-null   object
 6   Shift/Hour       2165 non-null   object
 7   idle_Cycle_time  2164 non-null   float64
 8   HT               2165 non-null   float64
 9   MT               2165 non-null   float64
 10  Stop_time        2165 non-null   int64
 11  Run_Time         2165 non-null   int64
 12  Down_Time        2165 non-null   int64
 13  Total_Count      2165 non-null   int64
 14  rejection        2165 non-null   int64
 15  Good_Count       2165 non-null   int64
 16  Operating_Time   2165 non-null   int64
 17  Quality          2165 non-null   float64
 18  Availability     2165 non-null   float64
 19  Performance      2165 non-null   float64
 20  OEE              2165 non-null   float64
dtypes: float64(7), int64(7), object(7)
memory usage: 355.3+ KB

In [8]:
f

,Date,En_Name,Bg_Name,Plant_Name,Line_Name,Machine_Name,Shift/Hour,idle_Cycle_time,HT,MT,...,Run_Time,Down_Time,Total_Count,rejection,Good_Count,Operating_Time,Quality,Availability,Performance,OEE
0,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(06-07),2541.0,26.333333,817.333333,...,32,208,6,0,6,240,100.0,13.156243,807.949126,106.295754
2,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(08-09),2541.0,20.000000,613.000000,...,114,0,4,0,4,120,100.0,100.000000,141.638796,141.638796
5,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(11-12),2541.0,19.500000,611.250000,...,117,0,4,0,4,120,100.0,100.000000,141.698034,141.698034
7,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(13-14),2541.0,24.500000,594.500000,...,116,0,4,0,4,120,100.0,100.000000,141.975136,141.975136
10,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,Nigatta-1,(07-08),3055.0,28.750000,467.750000,...,59,0,2,0,2,60,100.0,100.000000,170.289855,170.289855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2157,04/25/2023,RANE,ZRAI-SGD,Plant 1,TY54 Rack Piston,FN3EH,(08-09),318.0,39.000000,222.750000,...,60,0,13,0,13,60,100.0,100.000000,115.121136,115.121136
2158,04/25/2023,RANE,ZRAI-SGD,Plant 1,TY54 Rack Piston,FN3EH,(09-10),318.0,98.666667,223.333333,...,27,33,6,0,6,60,100.0,45.193647,117.632552,53.162441
2159,04/25/2023,RANE,ZRAI-SGD,Plant 1,TY54 Rack Piston,FN3EH,(10-11),318.0,70.750000,223.000000,...,59,0,12,0,12,60,100.0,100.000000,106.236080,106.236080
2160,04/25/2023,RANE,ZRAI-SGD,Plant 1,TY54 Rack Piston,FN3EH,(11-12),318.0,29.000000,222.500000,...,24,37,10,4,6,60,60.0,38.680033,228.941685,53.685988
2163,04/25/2023,RANE,ZRAI-SGD,Plant 1,TY54 Rack Piston,FN3EH,(13-14),318.0,126.000000,279.000000,...,41,14,8,0,8,55,100.0,75.144333,102.871007,77.301732

In [9]:
oee_data.columns

Index(['Date', 'En_Name', 'Bg_Name', 'Plant_Name', 'Line_Name', 'Machine_Name',
       'Shift/Hour', 'idle_Cycle_time', 'HT', 'MT', 'Stop_time', 'Run_Time',
       'Down_Time', 'Total_Count', 'rejection', 'Good_Count', 'Operating_Time',
       'Quality', 'Availability', 'Performance', 'OEE'],
      dtype='object')

In [15]:
oee_data.index

RangeIndex(start=0, stop=2165, step=1)

In [16]:
oee_data.shape

(2165, 21)

In [17]:
oee_data.dtypes

Date                object
En_Name             object
Bg_Name             object
Plant_Name          object
Line_Name           object
Machine_Name        object
Shift/Hour          object
idle_Cycle_time    float64
HT                 float64
MT                 float64
Stop_time            int64
Run_Time             int64
Down_Time            int64
Total_Count          int64
rejection            int64
Good_Count           int64
Operating_Time       int64
Quality            float64
Availability       float64
Performance        float64
OEE                float64
dtype: object

In [18]:
oee_data.count()

Date               2165
En_Name            2165
Bg_Name            2165
Plant_Name         2165
Line_Name          2165
Machine_Name       2165
Shift/Hour         2165
idle_Cycle_time    2164
HT                 2165
MT                 2165
Stop_time          2165
Run_Time           2165
Down_Time          2165
Total_Count        2165
rejection          2165
Good_Count         2165
Operating_Time     2165
Quality            2165
Availability       2165
Performance        2165
OEE                2165
dtype: int64

In [19]:
oee_data.isna()

,Date,En_Name,Bg_Name,Plant_Name,Line_Name,Machine_Name,Shift/Hour,idle_Cycle_time,HT,MT,...,Run_Time,Down_Time,Total_Count,rejection,Good_Count,Operating_Time,Quality,Availability,Performance,OEE
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2160,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2161,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2162,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2163,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2164,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [20]:
oee_data.values

array([['04-01-2023', 'RANE', 'ZRAI-SGD', ..., 13.15624346, 807.9491256,
        106.295754],
       ['04-01-2023', 'RANE', 'ZRAI-SGD', ..., 100.0, 70.87866109,
        70.87866109],
       ['04-01-2023', 'RANE', 'ZRAI-SGD', ..., 100.0, 141.638796,
        141.638796],
       ...,
       ['04/25/2023', 'RANE', 'ZRAI-SGD', ..., 100.0, 0.0, 0.0],
       ['04/25/2023', 'RANE', 'ZRAI-SGD', ..., 75.14433303, 102.8710069,
        77.301732],
       ['04/25/2023', 'RANE', 'ZRAI-SGD', ..., 49.24707195, 90.03397508,
        44.33909649]], dtype=object)

In [24]:
oee_data[['Machine_Name','Date','Shift/Hour','Availability','Performance','OEE']]

,Machine_Name,Date,Shift/Hour,Availability,Performance,OEE
0,HMC-4,04-01-2023,(06-07),13.156243,807.949126,106.295754
1,HMC-4,04-01-2023,(07-08),100.000000,70.878661,70.878661
2,HMC-4,04-01-2023,(08-09),100.000000,141.638796,141.638796
3,HMC-4,04-01-2023,(09-10),91.252264,77.575943,70.789804
4,HMC-4,04-01-2023,(10-11),100.000000,70.957833,70.957833
...,...,...,...,...,...,...
2160,FN3EH,04/25/2023,(11-12),38.680033,228.941685,53.685988
2161,FN3EH,04/25/2023,(12-13),58.941504,90.170132,53.147632
2162,FN3EH,04/25/2023,(13-14),100.000000,0.000000,0.000000
2163,FN3EH,04/25/2023,(13-14),75.144333,102.871007,77.301732
2164,FN3EH,04/25/2023,(14-15),49.247072,90.033975,44.339096

In [31]:
oee_data.iloc[:,[4,5,20,19]]

             Line_Name Machine_Name         OEE  Performance
0          HFB Housing        HMC-4  106.295754   807.949126
1          HFB Housing        HMC-4   70.878661    70.878661
2          HFB Housing        HMC-4  141.638796   141.638796
3          HFB Housing        HMC-4   70.789804    77.575943
4          HFB Housing        HMC-4   70.957833    70.957833
...                ...          ...         ...          ...
2160  TY54 Rack Piston        FN3EH   53.685988   228.941685
2161  TY54 Rack Piston        FN3EH   53.147632    90.170132
2162  TY54 Rack Piston        FN3EH    0.000000     0.000000
2163  TY54 Rack Piston        FN3EH   77.301732   102.871007
2164  TY54 Rack Piston        FN3EH   44.339096    90.033975

[2165 rows x 4 columns]

In [34]:
~(oee_data.values==50)

array([[ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       ...,
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True]])

In [36]:
oee_data.Performance.value_counts(ascending=False,dropna=0)

0.000000      871
93.619393      18
93.567251      12
93.593315      11
96.350975      10
             ...
94.541362       1
136.197811      1
313.333333      1
179.126356      1
90.033975       1
Name: Performance, Length: 1122, dtype: int64

In [37]:
any(oee_data.isna())

True

In [38]:
oee_data[oee_data.isna().any(axis=1)]

,Date,En_Name,Bg_Name,Plant_Name,Line_Name,Machine_Name,Shift/Hour,idle_Cycle_time,HT,MT,...,Run_Time,Down_Time,Total_Count,rejection,Good_Count,Operating_Time,Quality,Availability,Performance,OEE
2113,04/25/2023,RANE,ZRAI-SGD,Plant 1,HFB Rack Piston,AMS-6,(12-13),NaN,0.0,0.0,...,9,0,0,0,0,9,0.0,100.0,0.0,0.0

In [39]:
oee_data.Machine_Name.sort_values(ascending=True,na_position='first')

1625    ACE U-TURN
1834    ACE U-TURN
1833    ACE U-TURN
327     ACE U-TURN
916     ACE U-TURN
           ...
580          T10-2
581          T10-2
582          T10-2
483          T10-2
1082         T10-2
Name: Machine_Name, Length: 2165, dtype: object

In [40]:
oee_data.sort_values(by=['Machine_Name','OEE','Performance'], ascending=False)

,Date,En_Name,Bg_Name,Plant_Name,Line_Name,Machine_Name,Shift/Hour,idle_Cycle_time,HT,MT,...,Run_Time,Down_Time,Total_Count,rejection,Good_Count,Operating_Time,Quality,Availability,Performance,OEE
577,04-07-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,T10-2,(06-07),1697.0,150.0,1933.00,...,5,24,2,0,2,28,100.000000,16.394434,1252.398524,205.323654
1387,04/17/2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,T10-2,(14-15),1697.0,37.5,526.25,...,36,10,2,0,2,45,100.000000,78.624535,160.472813,126.171004
1479,04/18/2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,T10-2,(10-11),1697.0,150.0,1935.00,...,15,32,2,0,2,46,100.000000,31.218274,394.192799,123.060188
875,04-10-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,T10-2,(11-12),1697.0,50.0,662.00,...,41,19,2,0,2,59,100.000000,68.550228,141.298918,96.860731
1180,04/13/2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,T10-2,(08-09),1697.0,0.0,313.50,...,21,38,6,4,2,59,33.333333,34.290493,827.804878,96.805476
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1727,04/20/2023,RANE,ZRAI-SGD,Plant 1,TY54 Globic Worm,ACE U-TURN,(07-08),264.0,46.0,281.00,...,0,60,11,0,11,60,100.000000,0.000000,0.000000,0.000000
1731,04/20/2023,RANE,ZRAI-SGD,Plant 1,TY54 Globic Worm,ACE U-TURN,(11-12),0.0,0.0,0.00,...,3,28,0,0,0,30,0.000000,7.748049,0.000000,0.000000
1733,04/20/2023,RANE,ZRAI-SGD,Plant 1,TY54 Globic Worm,ACE U-TURN,(12-13),0.0,0.0,0.00,...,1,17,0,0,0,17,0.000000,0.098328,0.000000,0.000000
2135,04/25/2023,RANE,ZRAI-SGD,Plant 1,TY54 Globic Worm,ACE U-TURN,(06-07),264.0,0.0,0.00,...,3,117,0,0,0,120,0.000000,2.284759,0.000000,0.000000
2142,04/25/2023,RANE,ZRAI-SGD,Plant 1,TY54 Globic Worm,ACE U-TURN,(13-14),0.0,0.0,0.00,...,9,0,0,0,0,9,0.000000,100.000000,0.000000,0.000000

In [42]:
oee_data[oee_data.Machine_Name=='HMC-4'].loc[:,['Line_Name','OEE','Performance',"Availability"]]

        Line_Name         OEE  Performance  Availability
0     HFB Housing  106.295754   807.949126     13.156243
1     HFB Housing   70.878661    70.878661    100.000000
2     HFB Housing  141.638796   141.638796    100.000000
3     HFB Housing   70.789804    77.575943     91.252264
4     HFB Housing   70.957833    70.957833    100.000000
...           ...         ...          ...           ...
2061  HFB Housing   71.185969    71.185969    100.000000
2062  HFB Housing   71.947102   417.810457     85.213033
2063  HFB Housing  142.451254   142.451254    100.000000
2064  HFB Housing   71.185969    71.185969    100.000000
2065  HFB Housing  142.490945   142.490945    100.000000

[193 rows x 4 columns]

In [56]:
group=oee_data.groupby('Machine_Name')
group

In [ ]:
covid_data.groupby('continent')

In [44]:
oee_data.Machine_Name.unique()

array(['HMC-4', 'Nigatta-1', 'AMS-20', 'AMS-6', 'LMW-2', 'ACE-3',
       'ACE U-TURN', 'AMS-24', 'FN3EH', 'T10-1', 'T10-2'], dtype=object)

In [45]:
list(oee_data.groupby('Machine_Name'))

[('ACE U-TURN',
              Date En_Name   Bg_Name Plant_Name         Line_Name Machine_Name  \
  54    04-01-2023    RANE  ZRAI-SGD    Plant 1  TY54 Globic Worm   ACE U-TURN
  55    04-01-2023    RANE  ZRAI-SGD    Plant 1  TY54 Globic Worm   ACE U-TURN
  56    04-01-2023    RANE  ZRAI-SGD    Plant 1  TY54 Globic Worm   ACE U-TURN
  57    04-01-2023    RANE  ZRAI-SGD    Plant 1  TY54 Globic Worm   ACE U-TURN
  58    04-01-2023    RANE  ZRAI-SGD    Plant 1  TY54 Globic Worm   ACE U-TURN
  ...          ...     ...       ...        ...               ...          ...
  2140  04/25/2023    RANE  ZRAI-SGD    Plant 1  TY54 Globic Worm   ACE U-TURN
  2141  04/25/2023    RANE  ZRAI-SGD    Plant 1  TY54 Globic Worm   ACE U-TURN
  2142  04/25/2023    RANE  ZRAI-SGD    Plant 1  TY54 Globic Worm   ACE U-TURN
  2143  04/25/2023    RANE  ZRAI-SGD    Plant 1  TY54 Globic Worm   ACE U-TURN
  2144  04/25/2023    RANE  ZRAI-SGD    Plant 1  TY54 Globic Worm   ACE U-TURN

       Shift/Hour  idle_Cycle_time    HT      MT  ...  Run_Time  Down_Time  \
  54      (06-07)            284.0   0.0    0.00  ...        11         50
  55      (07-08)            284.0   0.0    0.00  ...         3         58
  56      (08-09)            284.0   0.0    0.00  ...        50         10
  57      (09-10)            284.0   0.0    0.00  ...        44         17
  58      (10-11)            284.0   0.0    0.00  ...        20         39
  ...         ...              ...   ...     ...  ...       ...        ...
  2140    (11-12)            264.0  15.5  244.50  ...        20         10
  2141    (12-13)            264.0  65.0  216.20  ...        52          9
  2142    (13-14)              0.0   0.0    0.00  ...         9          0
  2143    (13-14)            264.0  28.5  218.75  ...        46          0
  2144    (14-15)            264.0  69.0  183.00  ...        25         33

        Total_Count  rejection  Good_Count  Operating_Time     Quality  \
  54              0          0           0              60    0.000000
  55              0          0           0              60    0.000000
  56              0          0           0              60    0.000000
  57              0          0           0              60    0.000000
  58              0          0           0              60    0.000000
  ...           ...        ...         ...             ...         ...
  2140            9          4           5              30   55.555556
  2141           11          0          11              60  100.000000
  2142            0          0           0               9    0.000000
  2143            9          0           9              47  100.000000
  2144            5          0           5              60  100.000000

        Availability  Performance        OEE
  54       17.345231     0.000000   0.000000
  55        4.180602     0.000000   0.000000
  56       84.368905     0.000000   0.000000
  57       73.246102     0.000000   0.000000
  58       35.851687     0.000000   0.000000
  ...            ...          ...        ...
  2140     66.778336   198.662207  75.256556
  2141     86.124269    93.950178  80.913904
  2142    100.000000     0.000000   0.000000
  2143    100.000000    85.130777  85.130777
  2144     46.237458    79.566004  36.789298

  [205 rows x 21 columns]),
 ('ACE-3',
              Date En_Name   Bg_Name Plant_Name            Line_Name  \
  45    04-01-2023    RANE  ZRAI-SGD    Plant 1  HFB Worm Shaft Soft
  46    04-01-2023    RANE  ZRAI-SGD    Plant 1  HFB Worm Shaft Soft
  47    04-01-2023    RANE  ZRAI-SGD    Plant 1  HFB Worm Shaft Soft
  48    04-01-2023    RANE  ZRAI-SGD    Plant 1  HFB Worm Shaft Soft
  49    04-01-2023    RANE  ZRAI-SGD    Plant 1  HFB Worm Shaft Soft
  ...          ...     ...       ...        ...                  ...
  2130  04/25/2023    RANE  ZRAI-SGD    Plant 1  HFB Worm Shaft Soft
  2131  04/25/2023    RANE  ZRAI-SGD    Plant 1  HFB Worm Shaft Soft
  2132  04/25/2023    RANE  ZRAI-SGD    Plant 1  HFB Worm Shaft Soft
  2133  04/25/2023    RANE  ZRAI-SGD    Plant 1  HFB Worm Shaft Soft
  2134  04/25/2023    RANE  ZRAI-SGD    Plant 1  HFB Worm Shaft Soft

       Machine_Name Shift/Hour  idle_Cycle_time   HT    MT  ...  Run_Time  \
  45          ACE-3    (06-07)              0.0  0.0   0.0  ...         0
  46          ACE-3    (07-08)              0.0  0.0   0.0  ...         0
  47          ACE-3    (08-09)              0.0  0.0   0.0  ...         0
  48          ACE-3    (09-10)              0.0  0.0   0.0  ...         0
  49          ACE-3    (10-11)              0.0  0.0   0.0  ...         0
  ...           ...        ...              ...  ...   ...  ...       ...
  2130        ACE-3    (10-11)            170.0  0.0   0.0  ...        60
  2131        ACE-3    (11-12)            170.0  3.5  73.0  ...        60
  2132        ACE-3    (12-13)              0.0  0.0   0.0  ...        14
  2133        ACE-3    (13-14)              0.0  0.0   0.0  ...         0
  2134        ACE-3    (14-15)              0.0  0.0   0.0  ...         9

        Down_Time  Total_Count  rejection  Good_Count  Operating_Time  Quality  \
  45          120            0          0           0             120      0.0
  46           60            0          0           0              60      0.0
  47           60            0          0           0              60      0.0
  48           60            0          0           0              60      0.0
  49           60            0          0           0              60      0.0
  ...         ...          ...        ...         ...             ...      ...
  2130          0            0          0           0              60      0.0
  2131          0            4          4           0              60      0.0
  2132         47            0          0           0              60      0.0
  2133         60            0          0           0              60      0.0
  2134          0            0          0           0               9      0.0

        Availability  Performance  OEE
  45        0.000000     0.000000  0.0
  46        0.000000     0.000000  0.0
  47        0.000000     0.000000  0.0
  48        0.000000     0.000000  0.0
  49        0.000000     0.000000  0.0
  ...            ...          ...  ...
  2130    100.000000     0.000000  0.0
  2131     98.969933    19.127989  0.0
  2132     22.151017     0.000000  0.0
  2133      0.000000     0.000000  0.0
  2134    100.000000     0.000000  0.0

  [200 rows x 21 columns]),
 ('AMS-20',
              Date En_Name   Bg_Name Plant_Name        Line_Name Machine_Name  \
  18    04-01-2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston       AMS-20
  19    04-01-2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston       AMS-20
  20    04-01-2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston       AMS-20
  21    04-01-2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston       AMS-20
  22    04-01-2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston       AMS-20
  ...          ...     ...       ...        ...              ...          ...
  2102  04/25/2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston       AMS-20
  2103  04/25/2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston       AMS-20
  2104  04/25/2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston       AMS-20
  2105  04/25/2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston       AMS-20
  2106  04/25/2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston       AMS-20

       Shift/Hour  idle_Cycle_time          HT      MT  ...  Run_Time  \
  18      (06-07)            238.0   72.500000  222.00  ...        14
  19      (07-08)            238.0  142.666667  210.00  ...        38
  20      (08-09)            238.0   83.000000  209.75  ...        45
  21      (09-10)            238.0  111.500000  106.00  ...        12
  22      (10-11)            238.0    0.000000    0.00  ...         6
  ...         ...              ...         ...     ...  ...       ...
  2102    (11-12)            196.0   31.750000  233.25  ...        56
  2103    (12-13)              0.0    0.000000    0.00  ...        18
  2104    (12-13)            196.0   87.500000  350.00  ...        52
  2105    (13-14)            196.0    0.000000    0.00  ...        50
  2106    (14-15)            196.0    0.000000    0.00  ...        46

        Down_Time  Total_Count  rejection  Good_Count  Operating_Time  \
  18           31            4          0           4              45
  19           10            9          0           9              60
  20            4           12          0          12              60
  21           43            3          0           3              60
  22           54            0          0           0              60
  ...         ...          ...        ...         ...             ...
  2102          0           17          4          13              60
  2103          0            0          0           0              18
  2104          0            7          0           7              59
  2105          6            0          0           0              60
  2106          0            0          0           0              60

           Quality  Availability  Performance        OEE
  18    100.000000     31.995541   110.569106  35.377183
  19    100.000000     83.942013    71.139156  59.715640
  20    100.000000     93.675118    84.949435  79.576484
  21    100.000000     28.619154    69.455253  19.877506
  22      0.000000      9.866221     0.000000   0.000000
  ...          ...           ...          ...        ...
  2102   76.470588     98.969359    93.779904  71.714044
  2103    0.000000    100.000000     0.000000   0.000000
  2104  100.000000    100.000000    39.222413  39.222413
  2105    0.000000     90.974930     0.000000   0.000000
  2106    0.000000    100.000000     0.000000   0.000000

  [198 rows x 21 columns]),
 ('AMS-24',
              Date En_Name   Bg_Name Plant_Name     Line_Name Machine_Name  \
  63    04-01-2023    RANE  ZRAI-SGD    Plant 1  TY54 Housing       AMS-24
  64    04-01-2023    RANE  ZRAI-SGD    Plant 1  TY54 Housing       AMS-24
  65    04-01-2023    RANE  ZRAI-SGD    Plant 1  TY54 Housing       AMS-24
  66    04-01-2023    RANE  ZRAI-SGD    Plant 1  TY54 Housing       AMS-24
  67    04-01-2023    RANE  ZRAI-SGD    Plant 1  TY54 Housing       AMS-24
  ...          ...     ...       ...        ...           ...          ...
  2150  04/25/2023    RANE  ZRAI-SGD    Plant 1  TY54 Housing       AMS-24
  2151  04/25/2023    RANE  ZRAI-SGD    Plant 1  TY54 Housing       AMS-24
  2152  04/25/2023    RANE  ZRAI-SGD    Plant 1  TY54 Housing       AMS-24
  2153  04/25/2023    RANE  ZRAI-SGD    Plant 1  TY54 Housing       AMS-24
  2154  04/25/2023    RANE  ZRAI-SGD    Plant 1  TY54 Housing       AMS-24

       Shift/Hour  idle_Cycle_time     HT       MT  ...  Run_Time  Down_Time  \
  63      (06-07)              0.0    0.0     0.00  ...         0         75
  64      (07-08)              0.0    0.0     0.00  ...         0         60
  65      (08-09)              0.0    0.0     0.00  ...         0         60
  66      (09-10)              0.0    0.0     0.00  ...         0         60
  67      (10-11)              0.0    0.0     0.00  ...         0         60
  ...         ...              ...    ...      ...  ...       ...        ...
  2150    (11-12)           1153.0  177.0  1115.75  ...        50          6
  2151    (12-13)           1153.0  134.0   836.25  ...        56          0
  2152    (13-14)           1153.0   96.0   671.60  ...        53          6
  2153    (14-15)              0.0    0.0     0.00  ...         9          0
  2154    (14-15)           1153.0   38.4   445.40  ...        43          0

        Total_Count  rejection  Good_Count  Operating_Time     Quality  \
  63              0          0           0              75    0.000000
  64              0          0           0              60    0.000000
  65              0          0           0              60    0.000000
  66              0          0           0              60    0.000000
  67              0          0           0              60    0.000000
  ...           ...        ...         ...             ...         ...
  2150            7          4           3              60   42.857143
  2151            3          0           3              60  100.000000
  2152            3          0           3              60  100.000000
  2153            0          0           0               9    0.000000
  2154            2          0           2              47  100.000000

        Availability  Performance        OEE
  63        0.000000     0.000000   0.000000
  64        0.000000     0.000000   0.000000
  65        0.000000     0.000000   0.000000
  66        0.000000     0.000000   0.000000
  67        0.000000     0.000000   0.000000
  ...            ...          ...        ...
  2150     89.052925   252.455427  97.381757
  2151    100.000000    96.324144  96.324144
  2152     90.309106   106.660500  96.324144
  2153    100.000000     0.000000   0.000000
  2154    100.000000    81.976538  81.976538

  [201 rows x 21 columns]),
 ('AMS-6',
              Date En_Name   Bg_Name Plant_Name        Line_Name Machine_Name  \
  27    04-01-2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston        AMS-6
  28    04-01-2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston        AMS-6
  29    04-01-2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston        AMS-6
  30    04-01-2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston        AMS-6
  31    04-01-2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston        AMS-6
  ...          ...     ...       ...        ...              ...          ...
  2111  04/25/2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston        AMS-6
  2112  04/25/2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston        AMS-6
  2113  04/25/2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston        AMS-6
  2114  04/25/2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston        AMS-6
  2115  04/25/2023    RANE  ZRAI-SGD    Plant 1  HFB Rack Piston        AMS-6

       Shift/Hour  idle_Cycle_time          HT          MT  ...  Run_Time  \
  27      (06-07)            305.0  225.000000  314.000000  ...        15
  28      (07-08)            305.0  105.333333  209.333333  ...        45
  29      (08-09)            305.0  121.500000  314.250000  ...        43
  30      (09-10)            305.0   70.500000  315.000000  ...        48
  31      (10-11)            305.0   18.750000  314.250000  ...        59
  ...         ...              ...         ...         ...  ...       ...
  2111    (10-11)            270.0   58.750000   34.000000  ...        34
  2112    (11-12)            270.0   69.750000  208.750000  ...        47
  2113    (12-13)              NaN    0.000000    0.000000  ...         9
  2114    (12-13)              0.0    0.000000    0.000000  ...         9
  2115    (12-13)            270.0   88.000000  253.000000  ...        19

        Down_Time  Total_Count  rejection  Good_Count  Operating_Time  Quality  \
  27           53            3          0           3              75    100.0
  28            2            8          0           8              60    100.0
  29           14            7          0           7              60    100.0
  30            8            9          0           9              60    100.0
  31            0           11          0          11              60    100.0
  ...         ...          ...        ...         ...             ...      ...
  2111          0           39          0          39              60    100.0
  2112          0           16          4          12              60     75.0
  2113          0            0          0           0               9      0.0
  2114          0            0          0           0               9      0.0
  2115         17            4          0           4              39    100.0

        Availability  Performance         OEE
  27       30.412486    67.082111   20.401338
  28       96.961249    70.155262   68.023418
  29       77.870680    76.413744   59.503902
  30       88.195991    86.647727   76.419822
  31      100.000000    93.454039   93.454039
  ...            ...          ...         ...
  2111    100.000000   293.151448  293.151448
  2112     98.969933   121.518987   91.139241
  2113    100.000000     0.000000    0.000000
  2114    100.000000     0.000000    0.000000
  2115     57.779683    80.118694   46.292327

  [202 rows x 21 columns]),
 ('FN3EH',
              Date En_Name   Bg_Name Plant_Name         Line_Name Machine_Name  \
  72    04-01-2023    RANE  ZRAI-SGD    Plant 1  TY54 Rack Piston        FN3EH
  73    04-01-2023    RANE  ZRAI-SGD    Plant 1  TY54 Rack Piston        FN3EH
  74    04-01-2023    RANE  ZRAI-SGD    Plant 1  TY54 Rack Piston        FN3EH
  75    04-01-2023    RANE  ZRAI-SGD    Plant 1  TY54 Rack Piston        FN3EH
  76    04-01-2023    RANE  ZRAI-SGD    Plant 1  TY54 Rack Piston        FN3EH
  ...          ...     ...       ...        ...               ...          ...
  2160  04/25/2023    RANE  ZRAI-SGD    Plant 1  TY54 Rack Piston        FN3EH
  2161  04/25/2023    RANE  ZRAI-SGD    Plant 1  TY54 Rack Piston        FN3EH
  2162  04/25/2023    RANE  ZRAI-SGD    Plant 1  TY54 Rack Piston        FN3EH
  2163  04/25/2023    RANE  ZRAI-SGD    Plant 1  TY54 Rack Piston        FN3EH
  2164  04/25/2023    RANE  ZRAI-SGD    Plant 1  TY54 Rack Piston        FN3EH

       Shift/Hour  idle_Cycle_time          HT          MT  ...  Run_Time  \
  72      (06-07)            318.0    0.000000    0.000000  ...         0
  73      (07-08)            318.0   82.250000  167.250000  ...        42
  74      (08-09)            318.0   53.800000  178.200000  ...        52
  75      (09-10)            318.0   72.000000  223.000000  ...        33
  76      (10-11)            318.0   43.333333  222.666667  ...        56
  ...         ...              ...         ...         ...  ...       ...
  2160    (11-12)            318.0   29.000000  222.500000  ...        24
  2161    (12-13)            318.0  143.250000  167.500000  ...        31
  2162    (13-14)              0.0    0.000000    0.000000  ...         9
  2163    (13-14)            318.0  126.000000  279.000000  ...        41
  2164    (14-15)            318.0  210.800000  178.600000  ...        26

        Down_Time  Total_Count  rejection  Good_Count  Operating_Time  Quality  \
  72          120            0          0           0             120      0.0
  73           17            9          0           9              60    100.0
  74            9           11          0          11              60    100.0
  75           28            7          0           7              60    100.0
  76            0           13          0          13              60    100.0
  ...         ...          ...        ...         ...             ...      ...
  2160         37           10          4           6              60     60.0
  2161         25            6          0           6              60    100.0
  2162          0            0          0           0               9      0.0
  2163         14            8          0           8              55    100.0
  2164         31            5          0           5              60    100.0

        Availability  Performance         OEE
  72        0.000000     0.000000    0.000000
  73       72.400335   110.204082   79.788124
  74       85.288381   114.276380   97.464475
  75       53.563474   115.696466   61.971047
  76      100.000000   115.153203  115.153203
  ...            ...          ...         ...
  2160     38.680033   228.941685   53.685988
  2161     58.941504    90.170132   53.147632
  2162    100.000000     0.000000    0.000000
  2163     75.144333   102.871007   77.301732
  2164     49.247072    90.033975   44.339096

  [199 rows x 21 columns]),
 ('HMC-4',
              Date En_Name   Bg_Name Plant_Name    Line_Name Machine_Name  \

In [52]:
list(oee_data)[5][1]

'a'

In [57]:
group.groupby.keys()

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [58]:
group.get_group('HMC-4')

,Date,En_Name,Bg_Name,Plant_Name,Line_Name,Machine_Name,Shift/Hour,idle_Cycle_time,HT,MT,...,Run_Time,Down_Time,Total_Count,rejection,Good_Count,Operating_Time,Quality,Availability,Performance,OEE
0,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(06-07),2541.0,26.333333,817.333333,...,32,208,6,0,6,240,100.0,13.156243,807.949126,106.295754
1,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(07-08),2541.0,38.333333,408.666667,...,119,0,2,0,2,120,100.0,100.000000,70.878661,70.878661
2,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(08-09),2541.0,20.000000,613.000000,...,114,0,4,0,4,120,100.0,100.000000,141.638796,141.638796
3,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(09-10),2541.0,18.000000,245.200000,...,110,11,2,0,2,120,100.0,91.252264,77.575943,70.789804
4,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(10-11),2541.0,37.500000,306.500000,...,118,0,2,0,2,120,100.0,100.000000,70.957833,70.957833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061,04/25/2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(10-11),2557.0,17.250000,785.250000,...,60,0,1,0,1,60,100.0,100.000000,71.185969,71.185969
2062,04/25/2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(11-12),2557.0,109.500000,1964.250000,...,51,9,5,4,1,60,20.0,85.213033,417.810457,71.947102
2063,04/25/2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(12-13),2557.0,92.000000,1176.750000,...,60,0,2,0,2,60,100.0,100.000000,142.451254,142.451254
2064,04/25/2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(13-14),2557.0,17.000000,588.000000,...,56,0,1,0,1,60,100.0,100.000000,71.185969,71.185969
2065,04/25/2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(14-15),2557.0,73.800000,942.200000,...,60,0,2,0,2,60,100.0,100.000000,142.490945,142.490945

In [64]:
import numpy as np
oee_data.groupby('Machine_Name')[['Performance','OEE']].agg([np.max,np.var])

              Performance                        OEE
                     amax            var        amax          var
Machine_Name
ACE U-TURN     198.662207    1841.715318  102.927237  1427.422939
ACE-3         2492.660550   55280.340792  162.865905  1479.719825
AMS-20         640.000000    6599.091672  245.682451  1861.833698
AMS-24        5124.444444  229640.403057  258.520179  2287.113934
AMS-6         1446.601942   33999.678897  376.044568  2802.605035
FN3EH          859.459459    8978.837729  127.018545  2041.633998
HMC-4         9132.142857  517924.592191  573.961841  6821.565379
LMW-2         1511.111111   21382.632411  122.109989  1472.204538
Nigatta-1     2902.612827   77260.829325  374.686367  3681.435166
T10-1         2238.095238   78074.096943  637.787056  7466.616723
T10-2         1593.427230   56659.615424  205.323654  1977.610361

In [67]:
oee_data.groupby('Machine_Name')[['Performance','OEE']].agg({'OEE':['min','max','count']})

              OEE
              min         max count
Machine_Name
ACE U-TURN    0.0  102.927237   205
ACE-3         0.0  162.865905   200
AMS-20        0.0  245.682451   198
AMS-24        0.0  258.520179   201
AMS-6         0.0  376.044568   202
FN3EH         0.0  127.018545   199
HMC-4         0.0  573.961841   193
LMW-2         0.0  122.109989   202
Nigatta-1     0.0  374.686367   205
T10-1         0.0  637.787056   182
T10-2         0.0  205.323654   178

In [68]:
oee_data['OEE'].mean()

52.324930491107665

In [69]:
group.get_group('HMC-4')[["OEE"]].mean()

OEE    93.20491
dtype: float64

In [70]:
oee_data.isna().sum().sum()

1

In [71]:
oee_data.isnull().sum()

Date               0
En_Name            0
Bg_Name            0
Plant_Name         0
Line_Name          0
Machine_Name       0
Shift/Hour         0
idle_Cycle_time    1
HT                 0
MT                 0
Stop_time          0
Run_Time           0
Down_Time          0
Total_Count        0
rejection          0
Good_Count         0
Operating_Time     0
Quality            0
Availability       0
Performance        0
OEE                0
dtype: int64

In [72]:
 oee_data.notnull().sum()

Date               2165
En_Name            2165
Bg_Name            2165
Plant_Name         2165
Line_Name          2165
Machine_Name       2165
Shift/Hour         2165
idle_Cycle_time    2164
HT                 2165
MT                 2165
Stop_time          2165
Run_Time           2165
Down_Time          2165
Total_Count        2165
rejection          2165
Good_Count         2165
Operating_Time     2165
Quality            2165
Availability       2165
Performance        2165
OEE                2165
dtype: int64

In [73]:
oee_data[oee_data.isna().any(axis=1)]

,Date,En_Name,Bg_Name,Plant_Name,Line_Name,Machine_Name,Shift/Hour,idle_Cycle_time,HT,MT,...,Run_Time,Down_Time,Total_Count,rejection,Good_Count,Operating_Time,Quality,Availability,Performance,OEE
2113,04/25/2023,RANE,ZRAI-SGD,Plant 1,HFB Rack Piston,AMS-6,(12-13),NaN,0.0,0.0,...,9,0,0,0,0,9,0.0,100.0,0.0,0.0

In [75]:
oee_data.loc[1:20,:]

,Date,En_Name,Bg_Name,Plant_Name,Line_Name,Machine_Name,Shift/Hour,idle_Cycle_time,HT,MT,...,Run_Time,Down_Time,Total_Count,rejection,Good_Count,Operating_Time,Quality,Availability,Performance,OEE
1,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(07-08),2541.0,38.333333,408.666667,...,119,0,2,0,2,120,100.0,100.000000,70.878661,70.878661
2,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(08-09),2541.0,20.000000,613.000000,...,114,0,4,0,4,120,100.0,100.000000,141.638796,141.638796
3,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(09-10),2541.0,18.000000,245.200000,...,110,11,2,0,2,120,100.0,91.252264,77.575943,70.789804
4,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(10-11),2541.0,37.500000,306.500000,...,118,0,2,0,2,120,100.0,100.000000,70.957833,70.957833
5,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(11-12),2541.0,19.500000,611.250000,...,117,0,4,0,4,120,100.0,100.000000,141.698034,141.698034
6,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(12-13),2541.0,12.666667,396.333333,...,119,0,2,0,2,120,100.0,100.000000,70.799666,70.799666
7,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(13-14),2541.0,24.500000,594.500000,...,116,0,4,0,4,120,100.0,100.000000,141.975136,141.975136
8,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,HMC-4,(14-15),2541.0,9.500000,297.250000,...,115,6,2,0,2,120,100.0,95.453278,74.254822,70.878661
9,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,Nigatta-1,(06-07),3055.0,0.000000,0.000000,...,16,104,0,0,0,120,0.0,13.312909,0.000000,0.000000
10,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,Nigatta-1,(07-08),3055.0,28.750000,467.750000,...,59,0,2,0,2,60,100.0,100.000000,170.289855,170.289855
11,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,Nigatta-1,(08-09),3055.0,20.000000,429.750000,...,57,0,2,0,2,60,100.0,100.000000,170.194986,170.194986
12,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,Nigatta-1,(09-10),3055.0,37.250000,429.750000,...,59,0,2,0,2,60,100.0,100.000000,170.052881,170.052881
13,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,Nigatta-1,(10-11),3055.0,16.750000,437.250000,...,51,10,2,0,2,60,100.0,84.257453,202.050265,170.242407
14,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,Nigatta-1,(11-12),3055.0,0.000000,0.000000,...,52,9,0,0,0,60,0.0,86.187691,0.000000,0.000000
15,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,Nigatta-1,(12-13),3055.0,150.000000,1717.000000,...,7,54,2,0,2,60,100.0,11.358575,1497.549020,170.100223
16,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,Nigatta-1,(13-14),3055.0,0.000000,0.000000,...,0,60,0,0,0,60,0.0,0.000000,0.000000,0.000000
17,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Housing,Nigatta-1,(14-15),3055.0,0.000000,0.000000,...,31,30,0,0,0,60,0.0,51.267763,0.000000,0.000000
18,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Rack Piston,AMS-20,(06-07),238.0,72.500000,222.000000,...,14,31,4,0,4,45,100.0,31.995541,110.569106,35.377183
19,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Rack Piston,AMS-20,(07-08),238.0,142.666667,210.000000,...,38,10,9,0,9,60,100.0,83.942013,71.139156,59.715640
20,04-01-2023,RANE,ZRAI-SGD,Plant 1,HFB Rack Piston,AMS-20,(08-09),238.0,83.000000,209.750000,...,45,4,12,0,12,60,100.0,93.675118,84.949435,79.576484

In [76]:
oee_data.duplicated(keep='first')

0       False
1       False
2       False
3       False
4       False
        ...
2160    False
2161    False
2162    False
2163    False
2164    False
Length: 2165, dtype: bool

In [77]:
oee_data[oee_data.duplicated(keep='last')]

Empty DataFrame
Columns: [Date, En_Name, Bg_Name, Plant_Name, Line_Name, Machine_Name, Shift/Hour, idle_Cycle_time, HT, MT, Stop_time, Run_Time, Down_Time, Total_Count, rejection, Good_Count, Operating_Time, Quality, Availability, Performance, OEE]
Index: []

[0 rows x 21 columns]

In [82]:
tidy_oee = oee_data.stack()
tidy_oee

0     Date               04-01-2023
      En_Name                  RANE
      Bg_Name              ZRAI-SGD
      Plant_Name            Plant 1
      Line_Name         HFB Housing
                           ...
2164  Operating_Time             60
      Quality                 100.0
      Availability        49.247072
      Performance         90.033975
      OEE                 44.339096
Length: 45464, dtype: object

In [84]:
type(tidy_oee)

pandas.core.series.Series

In [86]:
tidy_oee=tidy_oee.reset_index()
tidy_oee

       index  level_0         level_1            0
0          0        0            Date   04-01-2023
1          1        0         En_Name         RANE
2          2        0         Bg_Name     ZRAI-SGD
3          3        0      Plant_Name      Plant 1
4          4        0       Line_Name  HFB Housing
...      ...      ...             ...          ...
45459  45459     2164  Operating_Time           60
45460  45460     2164         Quality        100.0
45461  45461     2164    Availability    49.247072
45462  45462     2164     Performance    90.033975
45463  45463     2164             OEE    44.339096

[45464 rows x 4 columns]

In [3]:
oee_data.corr()

,idle_Cycle_time,HT,MT,Stop_time,Run_Time,Down_Time,Total_Count,rejection,Good_Count,Operating_Time,Quality,Availability,Performance,OEE
idle_Cycle_time,1.000000,-0.094547,0.127829,-0.174970,0.420845,-0.095139,-0.322616,0.058227,-0.332202,0.316904,0.083817,0.246233,0.141538,0.276823
HT,-0.094547,1.000000,0.156410,0.300430,-0.050240,0.050679,0.223551,0.066846,0.217750,0.053770,0.554727,0.008511,0.112671,0.083538
MT,0.127829,0.156410,1.000000,-0.049853,-0.018504,0.139366,-0.047699,0.057088,-0.054744,0.161511,0.170662,-0.063165,0.039737,0.016734
Stop_time,-0.174970,0.300430,-0.049853,1.000000,0.353102,-0.405018,0.498393,-0.002036,0.502997,-0.006430,0.375736,0.496066,-0.000798,0.358562
Run_Time,0.420845,-0.050240,-0.018504,0.353102,1.000000,-0.681215,0.241730,0.015299,0.242073,0.243122,0.432227,0.868301,0.024284,0.607663
Down_Time,-0.095139,0.050679,0.139366,-0.405018,-0.681215,1.000000,-0.259150,-0.024386,-0.258590,0.537322,-0.284263,-0.810000,0.105418,-0.510996
Total_Count,-0.322616,0.223551,-0.047699,0.498393,0.241730,-0.259150,1.000000,0.132709,0.993358,-0.009584,0.552209,0.370143,0.092692,0.429706
rejection,0.058227,0.066846,0.057088,-0.002036,0.015299,-0.024386,0.132709,1.000000,0.017782,-0.014347,-0.092251,0.020055,0.088206,0.031419
Good_Count,-0.332202,0.217750,-0.054744,0.502997,0.242073,-0.258590,0.993358,0.017782,1.000000,-0.008003,0.567758,0.371059,0.083264,0.429825
Operating_Time,0.316904,0.053770,0.161511,-0.006430,0.243122,0.537322,-0.009584,-0.014347,-0.008003,1.000000,0.147202,-0.058281,0.167989,0.035913
Quality,0.083817,0.554727,0.170662,0.375736,0.432227,-0.284263,0.552209,-0.092251,0.567758,0.147202,1.000000,0.468835,0.183084,0.588174
Availability,0.246233,0.008511,-0.063165,0.496066,0.868301,-0.810000,0.370143,0.020055,0.371059,-0.058281,0.468835,1.000000,0.010527,0.657169
Performance,0.141538,0.112671,0.039737,-0.000798,0.024284,0.105418,0.092692,0.088206,0.083264,0.167989,0.183084,0.010527,1.000000,0.298886
OEE,0.276823,0.083538,0.016734,0.358562,0.607663,-0.510996,0.429706,0.031419,0.429825,0.035913,0.588174,0.657169,0.298886,1.000000

In [83]:
tidy_oee.index

MultiIndex([(   0,            'Date'),
            (   0,         'En_Name'),
            (   0,         'Bg_Name'),
            (   0,      'Plant_Name'),
            (   0,       'Line_Name'),
            (   0,    'Machine_Name'),
            (   0,      'Shift/Hour'),
            (   0, 'idle_Cycle_time'),
            (   0,              'HT'),
            (   0,              'MT'),
            ...
            (2164,        'Run_Time'),
            (2164,       'Down_Time'),
            (2164,     'Total_Count'),
            (2164,       'rejection'),
            (2164,      'Good_Count'),
            (2164,  'Operating_Time'),
            (2164,         'Quality'),
            (2164,    'Availability'),
            (2164,     'Performance'),
            (2164,             'OEE')],
           length=45464)

In [ ]:
grouped_continents.get_group('America')[["deaths"]].mean()

In [1]:
oee_data.corr()

NameError: name 'oee_data' is not defined

In [62]:
oee_data.agg()

TypeError: Must provide 'func' or tuples of '(column, aggfunc).

In [20]:
# Import libraries
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# create a sample dataframe
data= pd.read_csv(r"C:\Users\15878\DA\SGD_Data.csv")
data
data = pd.DataFrame({'Availability': [1200]})
#Data_pred = pd.DataFrame({'Down_Time':[1200]})
# create a MinMaxScaler object
scaler = MinMaxScaler()

# select columns to scale
cols_to_scale = ['Availability']
#cols_to_scale1 = ['Down_Time']

# apply Min-Max scaling to selected columns
df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])
#Data_pred[cols_to_scale1] = scaler.fit_transform(Data_pred[cols_to_scale1] )
# Split data into features and target variable
X = df[cols_to_scale]
y = df["Down_Time"]
print(X,y)

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df[cols_to_scale],y, train_size=0.7,test_size=0.3, random_state=42)
# Create a Decision Tree Regressor
dtr = DecisionTreeRegressor(max_depth=5, random_state=42)

# Train the regressor on the training data
dtr.fit(X_train, y_train)

# Predict the target variable for the test data
y_pred = dtr.predict(X_test)

# Calculate the mean squared error of the predictions
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

      Availability
0         0.000000
1         0.000000
2         0.000000
3         0.000000
4         0.600074
...            ...
1205      0.471207
1206      0.977755
1207      0.703322
1208      0.572130
1209      0.836662

[1210 rows x 1 columns] 0       509
1       270
2       208
3        30
4       144
       ...
1205     16
1206      8
1207    109
1208    199
1209     62
Name: Down_Time, Length: 1210, dtype: int64
Mean Squared Error: 9124.736032755443